<div id="ApplicationWindowControl" class="grid-3">
	<a href="#minimise">&#128469;</a>
	<a href="#maximise">&#128470;</a>
	<!--<a href="#overlap">&#128471;</a>-->
	<a href="#close">&#128473;</a>
</div>
<h1>
	<img title="Display Menu" src="./dist/img/ShowCockpit.png" />&nbsp;<%= locals.PageTitle %>
</h1>
<div class="flex-container">
	<aside class="w150p">
		<ul class="is-unstyled">
			<li><a href="#pageSearch" class="finder">Search</a></li>
			<li><a href="#pageOption" class="options">Options</a></li>
			<li><a href="#pageAdmin" class="admin active">Admin</a></li>
		</ul>
	</aside>
