	<!-- views/partials/head.ejs -->
	<meta charset="UTF-8">
	<title><%= locals.PageTitle %></title>
	<base href="./">
	<link rel="shortcut icon" href="./dist/img/favicons/favicon.ico" />
	<link rel="icon" type="image/icon" href="./dist/img/favicons/favicon.ico" />

	<link type="text/css" rel="stylesheet" href="./dist/css/css.min.css" />
