<h1>
	<%# Remove blue ball if not the main page %>
	<%_ if(locals.Page == 'home') { %>
	<span>
		<a class="img" href="#quicksearch"><img title="Display Menu" src="./dist/img/mpc-icon.png" /></a>
	</span>
	&nbsp;<% } %><a href="./" title="Martin M-PC Fixtures Finder tool online">Fixtures Finder @nline</a>
	<span class="linesearch"></span>
</h1>
