	<!-- views/partials/head.ejs -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title><%= locals.PageTitle %></title>
	<meta name="robots" content="index, follow" />
	<meta name="author" content="Sylvain Guiblain">
	<base href="./">
	<meta name="description" content="Based on the Fixture Library of Martin M-Serie, Fixtures Finder online permit to search fixtures by DMX criteria. But also many other useful stuff as Full DMX chart display!">
	<meta name="keywords" content="Fixture, Finder, Martin, M-Series, M-PC">
	<meta name="geo.placename" content="Toulouse, Haute-Garonne, France" />
	<link rel="author" href="https://plus.google.com/+SylvainGuiblain" />
	<link rel="publisher" href="https://plus.google.com/+SylvainGuiblain" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Fixtures Finder @nline" />
	<meta property="og:title" content="Fixtures Finder @nline" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://fixturesfinder.com"/>
	<meta name="twitter:url" content="https://fixturesfinder.com"/>
	<meta property="og:site_name" content="Fixture Finder @nline"/>
	<meta name="twitter:image" content="https://fixturesfinder.com/fixture-finder-onlinev4.png"/>
	<meta property="og:image" content="https://fixturesfinder.com/fixture-finder-onlinev4.png"/>
	<meta property="og:description" content="Based on the Fixture Library of Martin M-Serie, Fixtures Finder online permit to search fixtures by DMX criteria. But also many other useful stuff as Full DMX chart display!">
	<meta name="twitter:description" content="Based on the Fixture Library of Martin M-Serie, Fixtures Finder online permit to search fixtures by DMX criteria. But also many other useful stuff as Full DMX chart display!" />
	<meta property="article:author" content="https://www.facebook.com/sylvain.guiblain" />
	<meta property="article:publisher" content="https://www.facebook.com/sylvain.guiblain" />
	<meta name="google-site-verification" content="eBB7faXOcADvZobXuOxjW8HKRfluqFa8jLsB-nekDn0" />
	<meta name="theme-color" content="#141414">
	<link rel="shortcut icon" href="./assets/img/favicons/favicon.ico" />
	<link rel="icon" type="image/x-icon" href="./assets/img/favicons/favicon.ico" />
	<link rel="icon" type="image/png" href="./assets/img/favicons/favicon-96x96.png" />
	<link rel="apple-touch-icon" href="./assets/img/favicons/apple-icon-120x120.png" />

	<link type="text/css" rel="stylesheet" href="./dist/css/min.css" />
	<link type="text/css" rel="stylesheet" href="./assets/css/fancybox/jquery.fancybox.min.css" />
	<link type="text/css" rel="stylesheet" href="./assets/css/select2/select2.min.css" />
