<!DOCTYPE html>
<html lang="en">
<head>
<%- include partials/head %>
</head>
<body>
<%- include partials/header %>
	<!-- Page Content -->
<%- include('pages/' + locals.Page) %>

<%- include partials/footer %>
</body>
</html>
