@import "_variables";
@import '../../bower_components/KNACSS/sass/knacss';
/*@import '../../bower_components/fancybox/dist/jquery.fancybox';
@import '../../bower_components/select2/dist/css/select2';*/
/* Body */
	$Body_backgroundcolor: #111;
	$Body_color: #E6E6E6;
	$Body_topcolor: #F37735;

/* Button */
	$Button_backgroundcolor: #222;
	$Button_color: #CCC;
	$Button_bordercolor: #444;

	$Button_hover_backgroundcolor: #EEE;
	$Button_hover_color: $Body_backgroundcolor;
	$Button_hover_bordercolor: $Button_hover_backgroundcolor;

/* Links */
	$A_color_hover : #FFA500;

/* Nav */
	$LinearBackground : linear-gradient(to right, $gray-showcockpit, $Body_backgroundcolor);
	$LinearBackground_hover : linear-gradient(to right, $orange-showcockpit, $Body_backgroundcolor);

/* Header */
	$Header_backgroundcolor: #121212;
	$Header_BorderHeight: 1.7px;
	$Header_BorderStyle: solid;
	$Header_BorderColor: #434343;

/* Content */
	$Even_backgroundcolor: #323232;
	$Odd_backgroundcolor: #232323;
	$border_color: $black;

/*---------------------------------*/

/* Body */
	body {
		background-color: $Body_backgroundcolor;
		color: $Body_color;
		border-top: 5px solid $Body_topcolor;
		min-width: 800px;
		min-height: 600px;
	}

/* Application Window Control */
	#ApplicationWindowControl {
		position: absolute;
		right: 1rem;
		top: 5px;
		font-size: 1.2rem;
	}
	#ApplicationWindowControl>a {
		padding: .5rem;
	}
	#ApplicationWindowControl>a:hover,
	#ApplicationWindowControl>a:focus,
	#ApplicationWindowControl>a:active {
		color: inherit;
		background-color: $Button_backgroundcolor;
	}

/* Header */
	body>h1 {
		font-size: 150%;
		font-weight: lighter;
		font-family: inherit;
		margin: 1rem;
	}
	body>h1>img {
		height: 32px;
		width: 32px;
	}

/* Button */

.btn:active, .btn:focus, .btn:hover, .button:active, .button:focus, .button:hover {
	background-color: $Button_hover_backgroundcolor;
	color: $Button_hover_color ;
	box-shadow: 0 0 0 1px $Button_hover_bordercolor inset;
}

[type="color"], [type="date"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
	padding: .6rem 1rem;
}

.btn, .btn--danger, .btn--ghost, .btn--info, .btn--inverse, .btn--primary, .btn--success, .btn--warning, .button, .button--danger, .button--ghost, .button--info, .button--inverse, .button--primary, .button--success, .button--warning, [type="button"], button {
	padding: 1.2rem 2rem;
	font-size: 1.2rem;
}

/* Menu left */
	aside li {
		margin-bottom: 10px;
		&>a {
			display: block;
			height: 73px;
			line-height: 73px;
			padding-left: 50px;
			background-repeat: no-repeat, no-repeat;
			background-position: 5px center, left center;
			border-left: 5px solid $gray-showcockpit;
			transition-duration: .25s;
			transition-timing: ease-in;
			transition-property: transform;
			&:hover,
			&:active,
			&:focus {
				border-color: $orange-showcockpit;
				transform: perspective(20em) rotateY(5deg);
			}
			&.active {
				border-color: $orange-showcockpit;
			}
			&.finder {
				background-image: url(../img/icons8-search-fixture-32.png), $LinearBackground;
				&:hover,
				&:active,
				&:focus {
					background-image: url(../img/icons8-search-fixture-32.png), $LinearBackground_hover;
				}
			}
			&.options {
				background-image: url(../img/icons8-options-32.png), $LinearBackground;
				&:hover,
				&:active,
				&:focus {
					background-image: url(../img/icons8-options-32.png), $LinearBackground_hover;
				}
			}
			&.admin {
				background-image: url(../img/icons8-admin-32.png), $LinearBackground;
				&:hover,
				&:active,
				&:focus {
					background-image: url(../img/icons8-admin-32.png), $LinearBackground_hover;
				}
			}
		}
	}
/* Main Block */
.btn-bar-action {
	margin-top: 1rem;
	position: absolute;
}
.bordered {
	margin-top: 7rem;
	border: 2px solid $border-color-showcockpit;
}
/* Content */
	progress {
		width: 75%;
	}
	address, blockquote, dl, ol, p, pre, ul {
    margin-bottom: 0.25rem;
	}
	ul, ol {
	  margin-bottom: 0;
	}
	li {
    margin-left: 0.2rem;
	}
	.remark {
		max-height: 100px;
		overflow-y: auto;
	}
	.ingestion {
		padding: 0.8rem;
		font-size: 70%;
	}

/* Forms */
	fieldset {
		padding: 1rem 2rem;
	}
	fieldset>*:not(legend),
	#Results>div {
		border: $Header_BorderHeight $Header_BorderStyle $border_color;
		background-color: $Even_backgroundcolor;
		margin-top: - $Header_BorderHeight / 2;
		padding-top: $Header_BorderHeight / 2;
	}
	fieldset>*:nth-child(2n+1):not(legend),
	#Results>div:nth-child(2n+1) {
		background-color: $Odd_backgroundcolor;
	}
