@import '../../bower_components/KNACSS/sass/knacss';
@import '../../bower_components/fancybox/dist/jquery.fancybox';
@import '../../bower_components/select2/dist/css/select2';
/* Body */
	$Body_backgroundcolor: #111;
	$Body_color: #E6E6E6;
	$Body_topcolor: #F37735;

/* Links */
	$A_color_hover : #FFA500;

/* Header */
	$Header_backgroundcolor: #121212;
	$Header_BorderHeight: 1.7px;
	$Header_BorderStyle: solid;
	$Header_BorderColor: #434343;

/* Content */
$Even_backgroundcolor: #323232;
$Odd_backgroundcolor: #232323;
$border_color: $black;

/*---------------------------------*/

/* Body */
	body {
		background-color: $Body_backgroundcolor;
		color: $Body_color;
		border-top: 5px solid $Body_topcolor;
		min-width: 1280px;
		min-height: 768px;
	}

/* Header */
	body>h1 {
		font-size: 150%;
		font-weight: lighter;
		font-family: inherit;
		margin: 1rem;
	}
	body>h1>img {
		height: 32px;
		width: 32px;
	}

/* Content */
	progress {
		width: 75%;
	}
	address, blockquote, dl, ol, p, pre, ul {
    margin-bottom: 0.25rem;
	}
	ul, ol {
	  margin-bottom: 0;
	}
	li {
    margin-left: 0.2rem;
	}
	.remark {
		max-height: 100px;
		overflow-y: auto;
	}
	.ingestion {
		padding: 0.8rem;
		font-size: 70%;
	}

/* Forms */
	fieldset {
		padding: 1rem 2rem;
	}
	fieldset>*:not(legend),
	#Results>div {
		border: $Header_BorderHeight $Header_BorderStyle $border_color;
		background-color: $Even_backgroundcolor;
		margin-top: - $Header_BorderHeight / 2;
		padding-top: $Header_BorderHeight / 2;
	}
	fieldset>*:nth-child(2n+1):not(legend),
	#Results>div:nth-child(2n+1) {
		background-color: $Odd_backgroundcolor;
	}
	.switch {
		box-shadow: inset -2rem 0 0 $border_color,inset 0 0 0 1px $border_color;
	}

/*	Links	*/
	a,
	a:visited,
	a:focus,
	a:hover,
	a:active {
		color: inherit;
		text-decoration: none;
		transition: color .5s ease-in-out;
	}
	a:focus,
	a:hover,
	a:active {
		color: $A_color_hover;
	}
