<div id="quicksearch">

		<h2>Quick Actions</h2>

		<ul class="quickaction">
			<li><strong>Intensity &amp; Shutter</strong>
				<ul>
					<li><a href="#Action=Add&amp;1=Intensity&amp;2=Strobe">Add Intensity &amp; Strobe</a> <em>(<a href="#Action=Add&amp;1=Strobe&amp;2=Intensity">inverted</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Intensity&amp;2=Shutter">Add Intensity &amp; Shutter</a> <em>(<a href="#Action=Add&amp;1=Shutter&amp;2=Intensity">inverted</a>)</em></li>
				</ul>
			</li>
			<li><strong>Pan &amp; Tilt</strong>
				<ul>
					<li><a href="#Action=Add&amp;1=Pan&amp;2=Pan Fine">Add Pan &amp; Pan Fine</a></li>
					<li><a href="#Action=Add&amp;1=Tilt&amp;2=Tilt Fine">Add Tilt &amp; Tilt Fine</a></li>
					<li><a href="#Action=Add&amp;1=Pan&amp;2=Tilt">Add Pan &amp; Tilt</a> <em>(<a href="#Action=Add&amp;1=Pan&amp;2=Tilt&amp;3=PT Speed">with PT Speed</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Pan&amp;2=Pan Fine&amp;3=Tilt&amp;4=Tilt Fine">Add Pan  &amp; Pan Fine + Tilt &amp; Tilt Fine</a> <em>(<a href="#Action=Add&amp;1=Pan&amp;2=Pan Fine&amp;3=Tilt&amp;4=Tilt Fine&amp;5=PT Speed">with PT Speed</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Pan&amp;2=Tilt&amp;3=Pan Fine&amp;4=Tilt Fine">Add Pan  &amp; Tilt +  Pan Fine &amp; Tilt Fine</a> <em>(<a href="#Action=Add&amp;1=Pan&amp;2=Tilt&amp;3=Pan Fine&amp;4=Tilt Fine&amp;5=PT Speed">with PT Speed</a>)</em></li>
				</ul>
			</li>

			<li><strong>Color Mixing</strong>
				<ul>
					<li><a href="#Action=Add&amp;1=Cyan&amp;2=Magenta&amp;3=Yellow">Add CMY</a> <em>(<a href="#Action=Add&amp;1=Cyan&amp;2=Cyan Fine&amp;3=Magenta&amp;4=Magenta Fine&amp;5=Yellow&amp;6=Yellow Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue">Add RGB</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=White">Add RGBW</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=White&amp;8=White Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=Amber">Add RGBA</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=Amber&amp;8=Amber Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=UV">Add RGBUV</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=UV&amp;8=UV Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=White&amp;5=Amber">Add RGBWA</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=White&amp;8=White Fine&amp;9=Amber&amp;10=Amber Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=Amber&amp;5=White">Add RGBAW</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=Amber&amp;8=Amber Fine&amp;9=White&amp;10=White Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=White&amp;5=Amber&amp;6=UV">Add RGBWAUV</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=White&amp;8=White Fine&amp;9=Amber&amp;10=Amber Fine&amp;11=UV&amp;12=UV Fine">mode fine</a>)</em></li>
					<li><a href="#Action=Add&amp;1=Red&amp;2=Green&amp;3=Blue&amp;4=Amber&amp;5=White&amp;6=UV">Add RGBAWUV</a> <em>(<a href="#Action=Add&amp;1=Red&amp;2=Red Fine&amp;3=Green&amp;4=Green Fine&amp;5=Blue&amp;6=Blue Fine&amp;7=Amber&amp;8=Amber Fine&amp;9=White&amp;10=White Fine&amp;11=UV&amp;12=UV Fine">mode fine</a>)</em></li>
				</ul>
			</li>
		</ul>

		<hr />

		<h2>Quick Searches</h2>

		<ul class="quicksearch">
			<li><a href="#SearchMode=Exact&amp;DisplayMode=0&amp;FullParam=0&amp;MaxChannels=000&amp;Manufacturer=Any&amp;count=001&amp;ch1=Any">Reset to default search settings</a></li>
			<li><a href="#SearchMode=Live&amp;DisplayMode=1&amp;FullParam=0&amp;MaxChannels=000&amp;Manufacturer=Any&amp;count=001&amp;ch1=Any">Display all manufacturer's fixtures</a></li>
		</ul>

		<hr />

		<h2>Examples</h2>

		<ul class="quickexample">
			<li><a href="#SearchMode=Live&amp;DisplayMode=1&amp;FullParam=0&amp;MaxChannels=000&amp;Manufacturer=martin&amp;count=001&amp;ch1=Any">Display all Martin's fixtures</a></li>
			<li><a href="#SearchMode=live&amp;DisplayMode=0&amp;FullParam=0&amp;MaxChannels=000&amp;Manufacturer=any&amp;count=002&amp;ch1=color&amp;colorslots1=12&amp;ch2=gobo&amp;goboslots1=07">Search fixtures with 12 slots on color wheel and 7 gobos</a></li>
			<li><a href="#SearchMode=Exact&amp;DisplayMode=0&amp;FullParam=0&amp;MaxChannels=000&amp;Manufacturer=Any&amp;count=004&amp;ch1=intensity&amp;ch2=red&amp;ch3=green&amp;ch4=blue">Search fixtures with Intensity &amp; RGB <strong>with</strong> channel order</a></li>
			<li><a href="#SearchMode=Live+Exact&amp;DisplayMode=0&amp;FullParam=0&amp;MaxChannels=000&amp;Manufacturer=Any&amp;count=004&amp;ch1=intensity&amp;ch2=red&amp;ch3=blue&amp;ch4=green">Search fixtures with Intensity &amp; RGB <strong>without</strong> channel order</a></li>
			<li><a href="#SearchMode=StartWith&amp;DisplayMode=0&amp;FullParam=0&amp;MaxChannels=007&amp;Manufacturer=Any&amp;count=003&amp;ch1=pan&amp;ch2=tilt&amp;ch3=red">Search fixtures on 7 DMX channels <strong>starting with</strong> Pan, Tilt and RED channel order</a></li>
			<li><a href="#SearchMode=Live&amp;DisplayMode=0&amp;FullParam=1&amp;MaxChannels=000&amp;Manufacturer=arkaos&amp;count=001&amp;ch1=Soft+Edge">Search Arkaos fixture <strong>having</strong> "Soft Edge" channel</a></li>
		</ul>

	</div>
